@import "./variables.scss";

$top-menu-height: 5.25rem;
$content-height: calc(100% - #{$top-menu-height});

@import "~bootstrap/scss/mixins/_breakpoints.scss";

body {
  overflow-x: hidden !important;
  min-height: 100vh;
  height: 100vh;
  height: var(--app-height);
  & > #root {
    height: 100%;
    .body {
      height: 100%;
       & > div {
         height: 100%;
         .wrapper{
           height: 100%;
           .main-content {
             height: 100%;
           }
         }
       }
    }
  }
}


.left-menu {
  width: 300px;
  display: flex;
  box-shadow: 0 4px 13px rgba(1, 34, 18, .05);
  position: static;
  height: 100vh;
  .menu {
    height: 100%;
    display: flex;
    flex-flow: column;
  }
}
.main-content {
  .top-menu {
    height: $top-menu-height;

  }
  & > .content {
    height: $content-height;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex: 1;
    & > div {
      width: 100%;
    }
  }
}
